[class*="col-"]{
    background-color: blue;
    border: solid 1px white;
    color: white;;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color: green;
    border: 1px solid blue;
}

.contain{
    padding: 40px;
}

.no-border{
    border: none;
}