[class*="col-"]{
    background-color: #006CFA;
    border: solid 1px white;
    color: white;;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color: #00E165;
    border: 1px solid #006CFA;
}

.contain{
    padding: 40px;
}

.no-border{
    border: none;
    
}

.nono{
    border-top: 1px solid #006CFA;
}

